<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="lesson_cultivateContext" connectionString="Data Source=chicky-lap;Initial Catalog=lesson_cultivate;Persist Security Info=True;User ID=sa;Password=cocoisxbs;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>