<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LCManagerUnity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
             Microsoft.Practices.Unity.Configuration"/>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.1.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    </configSections>

  <LCManagerUnity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>

    <alias alias="UnitOfWork" type="LC.DAL.UnitOfWork.UnitOfWork,LC.DAL"/>
    <alias alias="DbContext" type="System.Data.Entity.DbContext,EntityFramework"/>
    <alias alias="LCContext" type="LC.Model.Entity.Models.lesson_cultivateContext,LC.Model.Entity"/>

    <alias alias="IRightModelService" type="LC.Service.Contracts.SysManager.IRightModelService,LC.Service.Contracts"/>
    <alias alias="RightModelService" type="LC.Service.Services.SysManager.RightModelService,LC.Service.Services"/>
    
    <alias alias="IUserModelService" type="LC.Service.Contracts.SysManager.IUserModelService,LC.Service.Contracts"/>
    <alias alias="UserModelService" type="LC.Service.Services.SysManager.UserModelService,LC.Service.Services"/>

    <alias alias="ICommonService" type="LC.Service.Contracts.Common.ICommonService,LC.Service.Contracts"/>
    <alias alias="CommonService" type="LC.Service.Services.Common.CommonService,LC.Service.Services"/>

    <alias alias="IMenuModelService" type="LC.Service.Contracts.SysManager.IMenuModelService,LC.Service.Contracts"/>
    <alias alias="MenuModelService" type="LC.Service.Services.SysManager.MenuModelService,LC.Service.Services"/>

    <alias alias="ISubSystemModelService" type="LC.Service.Contracts.SysManager.ISubSystemModelService,LC.Service.Contracts"/>
    <alias alias="SubSystemModelService" type="LC.Service.Services.SysManager.SubSystemModelService,LC.Service.Services"/>
    
    <alias alias="IRoleModelService" type="LC.Service.Contracts.SysManager.IRoleModelService,LC.Service.Contracts"></alias>
    <alias alias="RoleModelService" type="LC.Service.Services.SysManager.RoleModelService,LC.Service.Services"></alias>

    <alias alias="IModuleModelService" type="LC.Service.Contracts.SysManager.IModuleModelService,LC.Service.Contracts"></alias>
    <alias alias="ModuleModelService" type="LC.Service.Services.SysManager.ModuleModelService,LC.Service.Services"></alias>

    <alias alias="IFunctionModelService" type="LC.Service.Contracts.SysManager.IFunctionModelService,LC.Service.Contracts"></alias>
    <alias alias="FunctionModelService" type="LC.Service.Services.SysManager.FunctionModelService,LC.Service.Services"></alias>

    <alias alias="ICenterService" type="LC.Contracts.BaseManager.ICenterService,LC.Service.Contracts"></alias>
    <alias alias="CenterService" type="LC.Service.Services.BaseManager.CenterService,LC.Service.Services"></alias>
    
    <alias alias="IConsultantService" type="LC.Contracts.BaseManager.IConsultantService,LC.Service.Contracts"></alias>
    <alias alias="ConsultantService" type="LC.Service.Services.BaseManager.ConsultantService,LC.Service.Services"></alias>
    
    <alias alias="IClassroomService" type="LC.Contracts.BaseManager.IClassroomService,LC.Service.Contracts"></alias>
    <alias alias="ClassroomService" type="LC.Service.Services.BaseManager.ClassroomService,LC.Service.Services"></alias>

    <alias alias="IStatusService" type="LC.Contracts.BaseManager.IStatusService,LC.Service.Contracts"></alias>
    <alias alias="StatusService" type="LC.Service.Services.BaseManager.StatusService,LC.Service.Services"></alias>

    <alias alias="IClassTypeService" type="LC.Contracts.ClassManager.IClassTypeService,LC.Service.Contracts"></alias>
    <alias alias="ClassTypeService" type="LC.Service.Services.ClassManager.ClassTypeService,LC.Service.Services"></alias>

    <alias alias="IClassesService" type="LC.Contracts.ClassManager.IClassesService,LC.Service.Contracts"></alias>
    <alias alias="ClassesService" type="LC.Service.Services.ClassManager.ClassesService,LC.Service.Services"></alias>
    
    <alias alias="IScheduleService" type="LC.Contracts.ClassManager.IScheduleService,LC.Service.Contracts"></alias>
    <alias alias="ScheduleService" type="LC.Service.Services.ClassManager.ScheduleService,LC.Service.Services"></alias>

    <alias alias="IStudentService" type="LC.Contracts.StudentManager.IStudentService,LC.Service.Contracts"></alias>
    <alias alias="StudentService" type="LC.Service.Services.StudentManager.StudentService,LC.Service.Services"></alias>

    <alias alias="ITeacherService" type="LC.Contracts.TeacherManager.ITeacherService,LC.Service.Contracts"></alias>
    <alias alias="TeacherService" type="LC.Service.Services.TeacherManager.TeacherService,LC.Service.Services"></alias>

    <container name="LCContainer">
      <register type="DbContext" mapTo="LCContext" name="lcContext">
      </register>
      <register type="UnitOfWork" mapTo="UnitOfWork" name="unitOfWork">
        <constructor>
          <param name="ctx">
            <dependency name="lcContext"/>
          </param>
        </constructor>
      </register>

      <register type="IUserModelService" mapTo="UserModelService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IMenuModelService" mapTo="MenuModelService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="ISubSystemModelService" mapTo="SubSystemModelService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="ICommonService" mapTo="CommonService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IRightModelService" mapTo="RightModelService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IRoleModelService" mapTo="RoleModelService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IModuleModelService" mapTo="ModuleModelService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IFunctionModelService" mapTo="FunctionModelService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>
    
      <register type="ICenterService" mapTo="CenterService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>
    
      <register type="IConsultantService" mapTo="ConsultantService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>
    
      <register type="IClassroomService" mapTo="ClassroomService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IStatusService" mapTo="StatusService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IClassTypeService" mapTo="ClassTypeService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IClassesService" mapTo="ClassesService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IScheduleService" mapTo="ScheduleService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="IStudentService" mapTo="StudentService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>

      <register type="ITeacherService" mapTo="TeacherService">
        <constructor>
          <param name="unitOfWork">
            <dependency name="unitOfWork"></dependency>
          </param>
        </constructor>
      </register>
    </container>
  </LCManagerUnity>
  <startup>
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
