<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="lesson_cultivateContext" connectionString="Data Source=DESKTOP-V422CES;Initial Catalog=lesson_cultivate;Persist Security Info=True;User ID=sa;Password=cocoisxbs;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="lesson_cultivateContext" connectionString="Data Source=192.168.10.101\MSSQLSERVER2012;Initial Catalog=lesson_cultivate;Persist Security Info=True;User ID=sa;Password=grainserver;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="LC.Service.Services.Common.CommonService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.Common.ICommonService" />
      </service>
      <service name="LC.Service.Services.SysManager.UserModelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.SysManager.IUserModelService" />
      </service>
      <service name="LC.Service.Services.SysManager.MenuModelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.SysManager.IMenuModelService" />
      </service>
      <service name="LC.Service.Services.SysManager.SubSystemModelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.SysManager.ISubSystemModelService" />
      </service>
      <service name="LC.Service.Services.SysManager.RightModelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.SysManager.IRightModelService" />
      </service>
      <service name="LC.Service.Services.SysManager.RoleModelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.SysManager.IRoleModelService" />
      </service>
      <service name="LC.Service.Services.SysManager.ModuleModelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.SysManager.IModuleModelService" />
      </service>
      <service name="LC.Service.Services.SysManager.FunctionModelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Service.Contracts.SysManager.IFunctionModelService" />
      </service>
      <service name="LC.Service.Services.BaseManager.CenterService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.BaseManager.ICenterService" />
      </service>
      <service name="LC.Service.Services.BaseManager.ConsultantService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.BaseManager.IConsultantService" />
      </service>
      <service name="LC.Service.Services.BaseManager.ClassroomService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.BaseManager.IClassroomService" />
      </service>
      <service name="LC.Service.Services.BaseManager.StatusService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.BaseManager.IStatusService" />
      </service>
      <service name="LC.Service.Services.ClassManager.ClassTypeService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.ClassManager.IClassTypeService" />
      </service>
      <service name="LC.Service.Services.ClassManager.ClassesService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.ClassManager.IClassesService" />
      </service>
      <service name="LC.Service.Services.ClassManager.ScheduleService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.ClassManager.IScheduleService" />
      </service>
      <service name="LC.Service.Services.StudentManager.StudentService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.StudentManager.IStudentService" />
      </service>
      <service name="LC.Service.Services.TeacherManager.TeacherService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBind"
          contract="LC.Contracts.TeacherManager.ITeacherService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="65536000"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="myBind" maxReceivedMessageSize="2147483647" messageEncoding="Text" transferMode="Streamed" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>